astroid==3.2.4
bandit==1.7.9
beautifultable==1.1.0
black==24.8.0
certifi==2024.7.4
charset-normalizer==2.1.0
click==8.1.7
dill==0.3.8
idna==3.7
isort==5.13.2
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
mypy-extensions==1.0.0
oauthlib==3.2.2
packaging==24.1
pathspec==0.12.1
pbr==6.0.0
platformdirs==4.2.2
Pygments==2.18.0
pylint==3.2.6
python-decouple==3.6
PyYAML==6.0.2
requests==2.32.2
requests-oauthlib==1.3.1
rich==13.7.1
stevedore==5.2.0
tabulate==0.8.10
tomlkit==0.13.2
urllib3==1.26.19
wcwidth==0.2.5
